nav a {
  text-decoration: none;
}

.navbar {
  border-bottom: 2px solid #eee;
  padding-top: 15px !important;
  background-color: #555 !important;
}

.nav-brand {
  width: 60px;
  height: 60px;
}

.nav-brand img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.nav-link {
  font-size: 12px;
  font-weight: bold;
  color: #fdfdfd !important;
}

a.nav-home {
  font-weight: bold;
  color: #ffb !important;
}

.nav-links a:hover {
  color: antiquewhite !important;
}

@media (min-width: 768px) {
  .navbar {
    padding-top: 20px !important;
  }

  .nav-brand {
    width: 80px;
    height: 80px;
  }

  .nav-link {
    font-size: 20px;
  }
}
